:root {
    --primary: #BB9457;
}

.btn {
    border: solid 0.25rem rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 0.4rem 1.5rem;
    opacity: 0.9;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    margin-right: .5rem;
}

.btn:hover {
    padding: 0.8rem 1.5rem;
    background: #000;
    color: #fff;
    transform: scale(1.2);
    opacity: 1;
    /* transition: all 0.3s ease-out; */
    /* transition: 250ms; */
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 1rem;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.btn--large {
    padding: 12px 26px;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

/* Home-Button Css */

.home-btn {
    appearance: none;
    background-color: #BB9457;
    border: solid 0.25rem rgba(255, 255, 255, 0.8);
    border-radius: 1.1rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 5rem;
    outline: none;
    padding: 1.2rem 2rem;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }
  
  .home-btn:disabled {
    pointer-events: none;
  }
  
  .home-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 .6rem 1.2rem;
    background: #000;
    transform: translateY(-2px);
  }
  
  .home-btn:active {
    box-shadow: none;
    transform: translateY(0);
  }

  @media screen and (max-width: 600px) {
    .home-btn {
        font-size: 2.5rem;
        padding: 1.8rem 3rem;
        width: 100%;
    }
  }