.services-main {
    width: 100%;
    /* height: calc(100vh - 7rem); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-heading {
    font-size: 5rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
    width: 65%;
    text-align: center;
}

.services-desc {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 0 3rem 3rem 3rem;
    text-align: center;
    width: 65%;
}

.box-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.box-desc {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    width: 65%;
}

.left-box {
    padding: 1rem;
    margin-left: 3rem;
}

.right-box {
    padding: 1rem;
    margin-right: 3rem;
}

.services-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-box-1, .services-box-3, .services-box-2 {
    display: flex;
    background: snow;
    width: 80%;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 14px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid #c69f26;
}

.services-box-2 .right-box {
    margin-left: 12rem;
}

.services-img {
    width: 30rem;
    height: 20rem;
    padding: .5rem;
    background: rgba(85, 206, 223, 0.05);
    border-radius: 16px;
    box-shadow: 0 14px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid #c69f26;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.05)
    );
}

.services-btn {
    border: solid 0.25rem rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    background: #BB9457;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 3rem;
    padding: 0.4rem 1.5rem;
    opacity: 0.9;
    transition: all 200ms ease-in-out;
  }
  
.services-btn:hover {
    padding: 0.8rem 1.5rem;
    background: #000;
    color: #fff;
    transform: scale(1);
    opacity: 1;
  }