.page-2 {
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-border {
    border-bottom: 1px solid hsl(207, 4%, 16%);
    padding-bottom: 6rem;
    /* width: 85%; */
    margin: 0 auto;
}

.section-1 {
    display: flex;
    justify-content: space-around;
}

.home-main-content {
    width: 50%;
    padding: 1rem 5rem 2rem 4rem;
    /* margin: auto; */
}

.main-title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-main-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 4rem;
}

.main-img {
    width: 50rem;
    height: 40rem;
    padding: .5rem;
    background: rgba(85, 206, 223, 0.05);
    border-radius: 16px;
    box-shadow: 0 14px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid #c69f26;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.05)
    );
}

@media screen and (max-width: 600px) {
    html {
        font-size: 30%;
    }

    .home-main-content {
        font-size: 2.5rem;
        width: clamp(30ch, 40ch, 70ch);
    }

    .main-title {
        margin: 10rem 0 1rem 0;
    }

    .home-main-text {
        margin-bottom: 8rem;
    }

    .main-img {
        width: 60rem;
        height: 50rem;
        position: relative;
        left: 3rem;
        margin-bottom: 2rem;
    }

    .section-1 {
        flex-direction: column-reverse;

    }
}