/* 
  font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*=============== BASE ===============*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background: #FEFBEB;
}

.section-title {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: .25rem;
}

.section-subtitle {
  display: block;
  font-size: 1.5rem;
  color: hsl(207, 4%, 56%);
  margin-bottom: 5rem;
}

.section__border {
  border-bottom: 1px solid hsl(207, 4%, 16%);
  padding-bottom: 3.5rem;
}

@media screen and (max-width: 600px) {
  .section-subtitle {
    padding-bottom: 2rem;
  } 
}
